#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1


# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_HOST_ARCH       ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)
DEB_HOST_ARCH_OS    ?= $(shell dpkg-architecture -qDEB_HOST_GNU_OS)

CFLAGS ?= -Wall -g
LDFLAGS ?= 
PREFIX ?= /usr
DATADIR ?= /opt

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

# architecture is not arm
ifneq (, $(findstring arm, $(DEB_HOST_ARCH)))
	# do something here
else
	# do something here for arm
endif

LDFLAGS += -Wl,--rpath=$(PREFIX)/lib -Wl,--as-needed


config.status: 
	./autogen.sh
	#configure
	dh_testdir
	dbus-binding-tool --mode=glib-server --prefix=alarm_manager ./alarm_mgr.xml > ./include/alarm-skeleton.h
	dbus-binding-tool --mode=glib-client --prefix=alarm_manager ./alarm_mgr.xml > ./include/alarm-stub.h
	dbus-binding-tool --mode=glib-server --prefix=alarm_client ./alarm-expire.xml > ./include/alarm-expire-skeleton.h
	dbus-binding-tool --mode=glib-client --prefix=alarm_client ./alarm-expire.xml > ./include/alarm-expire-stub.h

	# Add here commands to configure the package.
	CFLAGS="$(CFLAGS)" LDFLAGS="$(LDFLAGS)" ./configure --prefix=$(PREFIX) 

#configure:
#	./autogen.sh

build: build-stamp

build-stamp:  config.status
	dh_testdir
	# Add here commands to compile the package.
	$(MAKE)
	#docbook-to-man debian/ncurses.sgml > ncurses.1

	for f in `find $(CURDIR)/debian/ -name "*.in"`; do \
		cat $$f > $${f%.in}; \
		sed -i -e "s#@PREFIX@#$(PREFIX)#g" $${f%.in}; \
		sed -i -e "s#@DATADIR@#$(DATADIR)#g" $${f%.in}; \
	done

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 
	
	-$(MAKE) clean
	# Add here commands to clean up after the build process.
	-$(MAKE) distclean
ifneq "$(wildcard /usr/share/misc/config.sub)" ""
	cp -f /usr/share/misc/config.sub config.sub
endif
ifneq "$(wildcard /usr/share/misc/config.guess)" ""
	cp -f /usr/share/misc/config.guess config.guess
endif

	for f in `find $(CURDIR)/debian/ -name "*.in"`; do \
		rm -f $${f%.in}; \
	done
	
	touch Makefile.in aclocal.m4 config.hin configure include/alarm-expire-skeleton.h include/alarm-skeleton.h include/alarm-expire-stub.h include/alarm-stub.h
	rm Makefile.in aclocal.m4 config.hin configure include/alarm-expire-skeleton.h include/alarm-skeleton.h include/alarm-expire-stub.h include/alarm-stub.h

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs

	# Add here commands to install the package into debian/ncurses.
	$(MAKE) DESTDIR=$(CURDIR)/debian/tmp install


	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/init.d
	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/rc3.d
	mkdir -p $(CURDIR)/debian/tmp/etc/rc.d/rc5.d
	cp $(CURDIR)/alarm-server_run $(CURDIR)/debian/tmp/etc/rc.d/init.d
	ln -s ../init.d/alarm-server_run $(CURDIR)/debian/tmp/etc/rc.d/rc3.d/S80alarm-server
	ln -s ../init.d/alarm-server_run $(CURDIR)/debian/tmp/etc/rc.d/rc5.d/S80alarm-server

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_install --list-missing --sourcedir=debian/tmp
#	dh_installmenu
#	dh_installdebconf	
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_python
#	dh_installinit
#	dh_installcron
#	dh_installinfo
	dh_installman
	dh_link
	dh_strip --dbg-package=alarm-manager-dbg
	dh_compress
	dh_fixperms
#	dh_perl
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
