[Unit]
Description=Alarm server
After=system-server.service

[Service]
User=system
Group=system
SmackProcessLabel=alarm-server
ExecStart=/usr/bin/alarm-server
TimeoutStopSec=3s
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target

