[Unit]
Description=Alarm server
After=system-server.service

[Service]
User=app_fw
Group=app_fw
BusName=org.tizen.alarm.manager
Type=dbus
ExecStart=/usr/bin/alarm-server
TimeoutStopSec=3s
Restart=always
RestartSec=0

[Install]
WantedBy=multi-user.target

